*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffbdbd;
}
.main{
    margin-top: 100px;
    font-size: 10px;
    font-weight: bold;
}
.main h2{
    margin-top: 20px;
}
.main button{
    margin-top: 30px;
    height: 30px;
    width: 70px;
    background: #decccc;
}
.main button:hover{
    background: #ff6f9c;
    color: white;
}
.main button a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}
